*{
    box-sizing: border-box;
}
body{
    background-color: rgb(107, 199, 15);
    gap: 100px;
    padding: 20px;
    
    
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    gap: 100px;
    justify-content: start;
    align-items: start;
}
.product{
    width: 200px;
}

.cart-box{
    position: fixed;
    top: 20px;
    right: 25px;

    background: white;
    padding: 12px 20px;

    border-radius: 25px;

    font-size: 18px;
    font-weight: bold;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    z-index: 9999;
    cursor: pointer;
}
.cart-box:hover{
    transform: scale(1.05);
}
.cart-item{
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

#cart-count{
    background: red;
    color: white;

    padding: 3px 8px;

    border-radius: 50%;
    font-size: 14px;
}
.continue-shopping{
    display: inline-block;
    padding: 12px 22px;
    border: 2px solid #222;
    border-radius: 8px;

    background-color: #f5f5f5;
    color: #222;

    font-size: 20px;
    font-weight: bold;

    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}
.continue-shopping:hover{
    background-color: #222;
    color: white;
}
/* PATATO */
.patato{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(patato.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/* TOMATO */
.tomato{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(tomato.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.buttons{
    width: 200px;
    display: flex;
}
.buttons button{
    width: 100px;
    height: 60px;
    background-color: white;
    border: 1px solid gray;
    font-size: 15px;
    cursor: pointer;
}

.buttons button:hover{
    background-color: lightgray;
}

/* BROWN ONION */
.brownonion{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(brown-onion.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* RED ONION */
.rednonion{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(red-onion.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* LADY-FINGER */
.ladyfinger{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(lady-finger.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* GREEN-CHILLI */
.greenchilli{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(greenchilli.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* SPINCH */
.spinch{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(spinch.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* LAUKI */
.lauki{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(lauki.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* GREEN-CUCUMBER */
.greencucumber{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(greencucumber.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}
.cucumber{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(cucumber.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Bitter Gourd */
.bittergourd{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(bitter-gourd.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* CARROT */
.carrot{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(carrot.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* PUMKIN */
.pumkin{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(pumkin.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* cauliflower */
.cauliflower{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(cauliflower.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* cabbage */
.cabbage{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(cabbage.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Brinjal */
.brinjal{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(brinjal.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Fenugreek Leaves-मेथी  */
.fenugreekleaves{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(Fenugreek\ Leaves-मेथी.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Mustard Greens */
.mustardgreens{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(mustardgreens.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/*  Coriander Leaves*/
.corianderleaves{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(corianderleaves.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Mint */
.mint{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(mint.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Bathua */
.bathua{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(bathua.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Radish */
.radish{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(radish.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Beetroot */
.beetroot{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(beetroot.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Sweet Potato */
.sweetpatato{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(sweetpatato.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Garlic */
.garlic{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(garlic.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Pointed Gourd-परवल*/
.pointgourd{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(pointgourd-परवल.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Tinda */
.tinda{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(tinda.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}








