*{
    box-sizing: border-box;
}
body{
    background-color: darkcyan;
    gap: 100px;
    padding: 20px;
    
    
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    gap: 100px;
    justify-content: start;
    align-items: start;
}
.product{
    width: 200px;
}

/* PATATO */
.patato{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(patato.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/* TOMATO */
.tomato{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(tomato.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.buttons{
    width: 200px;
    display: flex;
}
.buttons button{
    width: 100px;
    height: 60px;
    background-color: white;
    border: 1px solid gray;
    font-size: 15px;
    cursor: pointer;
}

.buttons button:hover{
    background-color: lightgray;
}

/* BROWN ONION */
.brownonion{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(brown-onion.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* RED ONION */
.rednonion{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(red-onion.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* LADY-FINGER */
.ladyfinger{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(lady-finger.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* GREEN-CHILLI */
.greenchilli{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(greenchilli.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* SPINCH */
.spinch{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(spinch.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* LAUKI */
.lauki{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(lauki.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* GREEN-CUCUMBER */
.greencucumber{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(greencucumber.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}
.cucumber{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(cucumber.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Bitter Gourd */
.bittergourd{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(bitter-gourd.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* CARROT */
.carrot{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(carrot.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* PUMKIN */
.pumkin{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(pumkin.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* cauliflower */
.cauliflower{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(cauliflower.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* cabbage */
.cabbage{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(cabbage.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}

/* Brinjal */
.brinjal{border: 2px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(brinjal.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}





